* {
  box-sizing: border-box;
}

body {
  background: #111;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: 'Segoe UI', sans-serif;
  margin: 0;
}

.container {
  background: black;
  border-radius: 20px;
  position: relative;
  overflow: hidden;
  width: 95%;
  min-height: 670px;
  transition: all 0.6s ease-in-out;
}

.form-container {
  position: absolute;
  top: 0;
  height: 100%;
  transition: all 0.6s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 50px;
  text-align: center; 
  background: linear-gradient(to left, rgb(29, 29, 29),rgb(0, 0, 0), rgb(0, 0, 0));
  color: rgb(233, 233, 255);
  }

.registrar-container {
  background: linear-gradient(to top, rgb(14, 14, 79), rgb(0, 0, 0));
  background: linear-gradient(to right, rgb(29, 29, 29),rgb(0, 0, 0), rgb(0, 0, 0));

}

.registrar-container button {
    margin-top: 30px;
}

.login-container {
  left: 0;
  width: 50%;
  z-index: 2;
}

.registrar-container {
  left: 0;
  width: 50%;
  opacity: 0;
  z-index: 1;
}

.container.ativo .registrar-container {
  transform: translateX(100%);
  opacity: 1;
  z-index: 5;
}

.container.ativo .login-container {
  transform: translateX(100%);
  opacity: 0;
}

input { 
  background:  rgb(233, 233, 255);
  border: none;
  padding: 12px 15px;
  margin: 8px 0;
  width: 85%;
  border-radius: 20px;
  margin-top: 30px;
  font-size: 17px;
}

button {
  border-radius: 20px;
  border: none;
  padding: 12px 45px;
  color: white;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  transition: transform 80ms ease-in;
  margin-top: 80px;
}

.form-container button {
  background: linear-gradient(to bottom, rgb(0, 0, 247), rgb(2, 2, 165));

  &:hover {
  background: linear-gradient(to bottom, rgb(0, 0, 247), rgba(2, 2, 165, 0.61));
}
}


button.botao {
  background-color: transparent;
  border: 2px solid #fff;
}

.slogan-container {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  overflow: hidden;
  transition: transform 0.6s ease-in-out;
  z-index: 100;
}

.container.ativo .slogan-container {
  transform: translateX(-100%);
}

.video-background {
    position: absolute; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0; 
    
}

.slogan {
  color: white;
  position: relative;
  left: -100%;
  height: 100%;
  width: 200%;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}

.container.ativo .slogan {
  transform: translateX(50%);
}

.slogan-panel {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 40px;
  text-align: center;
  top: 0;
  height: 100%;
  width: 50%;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}

.slogan-panel h1 {
    font-size: 52px;
    width: 500px;
}

.slogan-left {
  transform: translateX(-20%);
}

.container.ativo .slogan-left {
  transform: translateX(0);
}

.slogan-right {
  right: 0;
  transform: translateX(0);
}

.container.ativo .slogan-right {
  transform: translateX(20%);
}
